CSS BabelResult Skip Results Iframe
EDIT ON
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.app {
  background-color: purple;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  text-align: center;
}

.div-2 {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}
.header {
  font-size: calc(20px + 2vmin);
  line-height: 2;
  text-transform: capitalize;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.timer {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  width: 400px;
}

.welcome{
  display: flex;
  size: 2px;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 51px;
  font-weight: 800 !important;
  justify-content: center;
  justify-content: center;
  margin-top: 38px;
  min-height: 26%;
 

}

.logo.is-animetion {
  margin-top: 0.6em;
}

.logo.is-animetion span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.is-animetion {
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 1.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }
  span:nth-of-type(6){ animation-delay: 0.5s; }
  span:nth-of-type(7){ animation-delay: 0.6s; }
  span:nth-of-type(8){ animation-delay: 1.7s; }
  span:nth-of-type(9){ animation-delay: 0.8s; }
  span:nth-of-type(10){ animation-delay: 0.9s; }
  span:nth-of-type(11){ animation-delay: 1.0s; }
  span:nth-of-type(12){ animation-delay: 1.1s; }
  span:nth-of-type(13){ animation-delay: 1.2s; }
  span:nth-of-type(14){ animation-delay: 1.3s; }
  span:nth-of-type(15){ animation-delay: 0.4s; }
  span:nth-of-type(16){ animation-delay: 0.5s; }
  span:nth-of-type(17){ animation-delay: 0.6s; }
  span:nth-of-type(18){ animation-delay: 0.7s; }
  span:nth-of-type(19){ animation-delay: 0.8s; }
  span:nth-of-type(20){ animation-delay: 1.9s; }
  span:nth-of-type(21){ animation-delay: 0.1s; }
  span:nth-of-type(22){ animation-delay: 0.2s; }
  span:nth-of-type(23){ animation-delay: 1.3s; }
  span:nth-of-type(24){ animation-delay: 1.4s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}













.welcometext {
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  font-family: 'Gambetta', serif;
  outline: none;
  text-align: center;
  letter-spacing: -3px;
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation: floating 3s linear infinite;
  margin: 3.5rem auto;
  padding: 1rem;
  background: #01796f;
  color: #ffffff;
  box-shadow: -20px -17px 8px 0px #5a9bad63;
  border-radius: 10px;
}
@keyframes floating {
  0% {
      transform: translate(0%, 30%);
  }
  50% {
      transform: translate(0%, -30%);
  }
  100% {
      transform: translate(0%, 30%);
  }
}
@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
.welcometext:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
  cursor: grab;
}










.but-4 {

  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  margin-top: 25px;
  padding: 28px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  margin: 10px;
  width: 18%;
  align-self: center;
  border-radius: 25%;
  font-family: 'Gambetta', serif;

}
.but-4:hover {
  cursor: pointer;
}

.dice2{
  margin-left: 6%;
}

.but-5 {


  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 800 !important;
  justify-content: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.get1{
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-right: 33px;

}

.div-4 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 140px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.box {
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  font-weight: 300;
  padding: 10px;
}

.col-4:last-child .box {
  border-right-color: transparent;
}

.box p {
  font-size: calc(16px + 2vmin);
  margin: 0;
}

.text {
  font-size: 14px
}


.rootdivision {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: anchor-center;
  align-items: center;
  margin-top: 50px;
  .routines {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: anchor-center;
    height: 40px;
    justify-content: center;
    margin: 1%;
  }

}


   /* CSS */
 .button-30 {
   align-items: center;
   appearance: none;
   background-color: #FCFCFD;
   border-radius: 4px;
   border-width: 0;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
   box-sizing: border-box;
   color: #36395A;
   cursor: pointer;
   display: inline-flex;
   font-family: "JetBrains Mono",monospace;
   height: 48px;
   justify-content: center;
   line-height: 1;
   list-style: none;
   overflow: hidden;
   padding-left: 16px;
   padding-right: 16px;
   position: relative;
   text-align: left;
   text-decoration: none;
   transition: box-shadow .15s,transform .15s;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   will-change: box-shadow,transform;
   font-size: 18px;
 }

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}